@{
  Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <link rel="shortcut icon" type="image/png" href="/Content/jasmine/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="/Content/jasmine/jasmine.css">
  <script type="text/javascript" src="/Scripts/jasmine/jasmine.js"></script>
  <script type="text/javascript" src="/Scripts/jasmine/jasmine-html.js"></script>
  <script type="text/javascript" src="/Scripts/jasmine/boot.js"></script>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-mocks.js"></script>
    <script src="~/AngularScripts/App/MyApp.js"></script>
    <script src="~/AngularScripts/App/Config.js"></script>
   
    
    
   
    <script src="~/AngularScripts/App/Directives/CheckBoxDirective.js"></script>
    
  
  <!-- include source files here... -->
    <script src="~/AngularScripts/App/Controllers/EmployeeController.js"></script>
    <script src="~/AngularScripts/App/Services/EmployeeService.js"></script>

     <script src="~/AngularScripts/App/Controllers/DepartmentController.js"></script>
    <script src="~/AngularScripts/App/Services/DepartmentService.js"></script>

    <script src="~/AngularScripts/App/Controllers/OwinController.js"></script>
    <script src="~/AngularScripts/App/Services/LoginService.js"></script>
  <!-- include spec files here... -->
    <script src="~/AngularScripts/App/Test/TestControllers/EmployeeControllerSpec.js"></script>
    <script src="~/AngularScripts/App/Test/TestServices/EmployeeServiceSpec.js"></script>

    <script src="~/AngularScripts/App/Test/TestControllers/DepartmentControllerSpec.js"></script>
    <script src="~/AngularScripts/App/Test/TestServices/DepartmentServiceSpec.js"></script>

    <script src="~/AngularScripts/App/Test/TestControllers/OwinControllerSpec.js"></script>
    <script src="~/AngularScripts/App/Test/TestServices/LoginServiceSpec.js"></script>
</head>

<body>
</body>
</html>
