<h2>Change Password</h2>
<div id="dialogChangePassword" title="Change Password" style="text-align: left;">
    <div id="err1"></div>
    <div id="err2"></div>
    <br />
    <form name="ChngePsw">
        <div ng-show="chkerror">{{msgerror}}</div>
        <br/>
        <div>
            OldPassword:<input class="control-label" name="OldPsw" required ng-model="user.OldPassword" style="position: relative;left: 52px" type="password" />
            <span class="error" ng-show="ChngePsw.OldPsw.$error.required" style="font-style:italic;color:grey;position:relative;left:70px">
                enter old password
            </span>

        </div>
        <br />
        <div>
            New Password:<input ng-pattern="/^[A-Z a-z 0-9]{6}[A-Z a-z 0-9]*$/" required name="NewPsw" type="password" ng-model="user.NewPassword" style="position: relative;left: 43px" />
            <span class="error" ng-show="ChngePsw.NewPsw.$error.pattern" style="font-style:italic;color:grey;position:relative;left:60px">
                enter a password with minimum 6 characters
            </span>
            <span class="error" ng-show="ChngePsw.NewPsw.$error.required" style="font-style:italic;color:grey;position:relative;left:60px">
                enter a password with minimum  6 characters
            </span>
        </div>
        <br />
        <div>
            ConfirmPassword:<input type="password" name="ConPsw" ng-model="user.ConfirmPassword" style="position: relative;left: 20px" />
            <span class="error" ng-if="user.NewPassword!=user.ConfirmPassword" style="font-style:italic;color:grey; position:relative;left:50px">
                enter a matching password
            </span>
        </div>
        <br />
        <!--<div>
            New Password:<input class="control-label" name="NewPsw" ng-model="user.NewPassword" style="position: relative;left: 43px" type="password" id="NewPsw" />


        </div>
        <br />

        <div>
            Confirm Password:<input class="control-label" name="ConPsw" ng-model="user.ConfirmPassword" style="position: relative;left: 20px" type="password" id="ConPsw" />
        </div>
        <br />

        <div>-->
        <input type="button" value="Change" class="btn btn-default" id="btn_save" ng-click="ChangePsw(user,ChngePsw)" />
    </form>
</div>

